{% extends 'base_navbar.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block head %}
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
{% endblock %}

{% block content %}
    {# TODO: FIX THIS!#}
    {% if errors or non_field_errors %}
        <div class="alert alert-error pageError">
            {{ errors }}
            {{ non_field_errors }}
        </div>
    {% endif %}
    <div class="container">
        <h1>Pending Actions{% if viewer_role == "parent" or viewer_type == "patient" %}
            <button type="button" class="pull-right btn btn-success btn-lg" data-toggle="modal"
                    data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Action
            </button></h1>



            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add a New Goal</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" method="post">
                                {{ AddActionForm_ActionPage |bootstrap }}
                                {% csrf_token %}
                                <input type="submit" value="Submit" name="actionForm" class="btn btn-success"/>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        {% else %}
            </h1>
        {% endif %}
        {% if pending_actions %}
            <hr>
            {% for action in pending_actions %}
                <form role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="actionName" value={{ action.id }}>
                    <h3>{{ action.name }}
                        {% if viewer_role == "parent" or viewer_type == "patient" %}
                            <span class="pull-right">
                                <button type="submit" name="complete" class="btn-success btn ">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <button type="submit" name="remove" class="btn-danger btn">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </span>
                            {% endif %}
                    </h3>
                <h3><small>for {{ action.goal }}, until {{ action.deadline }}</small></h3>
                    <div class="row">
                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                            Notes:
                        </div>
                        <div class="col-md-11 col-lg-11 col-sm-11 col-xs-10">

                            {{ action.notes }}
                        </div>
                    </div>
                </form>
                <hr>

            {% endfor %}
        {% else %}
            <h4>You have no pending actions.</h4>
            <hr>
        {% endif %}
        <h1>Completed Actions</h1>
         <hr>
        {% if completed_actions %}
            {% for action in completed_actions %}
                <form role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="actionName" value={{ action.id }}>
                    <h3>
                        <span class="glyphicon glyphicon-ok"></span> {{ action.name }}
                        {% if viewer_role == "parent" or viewer_type == "patient" %}
                            <span class="pull-right">

                                <button type="submit" name="remove" class="btn-danger btn">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </span>
                            {% endif %}
                    </h3>
                <h3><small>for {{ action.goal }}, until {{ action.deadline }}</small></h3>
                    <div class="row">
                        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-2">
                            Notes:
                        </div>
                        <div class="col-md-11 col-lg-11 col-sm-11 col-xs-10">

                            {{ action.notes }}
                        </div>
                    </div>
                </form>
                <hr>

            {% endfor %}
        {% else %}
            <h4>You have no completed actions.</h4>
        {% endif %}
    </div>


{% endblock %}