{% extends 'gk/../base_navbar.html' %}
{% block content %}
    {% load staticfiles %}

    <div class="container">
        <div class="row">
            <div class="span9">      <!-- Main page -->
                {% if goals_context %}
                    <h1>Active Goals</h1>
                    {% for goal_context in goals_context %}

                        <div id="{{ goal_context.goal.id }}" class="well">

                            <h2><a href="{% url 'gk:goal' goal_context.goal.id %}">{{ goal_context.goal.name }}</a></h2>
                            <!-- Goal 1 -->

                            <div class="span4">
                                <div class="row-fluid">
                                    <div id="chart{{ goal_context.goal.id }}"></div>

                                    {#                                    <div style="height:200px" id="goal_chart{{ goal_context.goal.id }}">{{ divs }}</div>#}
                                </div>

                            </div>

                            <div class="span7">         <!-- Goal info, add action/status update, goal contacts -->
                                <div class="row-fluid">
                                    <div class="span7">
                                        <h4>{{ goal_context.goal.notes }}</h4>

                                        <br>
                                        <span class="text-center"><a href="{% url 'gk:goal' goal_context.goal.id %}"
                                                                     class="btn btn-info">View this goal!</a></span>


                                        <br><br>
                                    </div>
                                    <div class="span5">
                                        <h4>Pending Actions:</h4>
                                        <div class="HAscroll">
                                            {% for action in actions %}
                                                {% if action.goal == goal_context.goal %}
                                                    {% if not action.completed %}
                                                        <p>{{ action.name }}
                                                            <small> on {{ action.deadline }}</small>
                                                        </p>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% if goal_context.goal.caregivers %}
                                    {% for c in goal_context.goal.caregivers.all %}
                                        <a href="{% url 'gk:contacts' patient.id %}">{{ c }}</a>&nbsp;
                                    {% endfor %}
                                {% endif %}


                            </div>

                            <div class="clearfix"></div>

                        </div>  <!-- Goal 1 Collapse -->
                    {% endfor %}
                {% else %}
                    <h2>No active goals are available at this time. Add a goal using the "Add Goal" form below to add a
                        new goal</h2>
                {% endif %}
                {% if inactive_goals_context %}
                    <h1>Inactive Goals</h1>
                    {% for goal_context in inactive_goals_context %}
                        <div id="{{ goal_context.goal.id }}" class="well">

                            <h2><a href="{% url 'gk:goal' goal_context.goal.id %}">{{ goal_context.goal.name }}</a></h2>
                            <!-- Goal 1 -->

                            <div class="span4">
                                <div class="row-fluid">

                                    <div style="height:200px" id="goal_chart{{ goal_context.goal.id }}">{{ divs }}</div>
                                </div>

                            </div>

                            <div class="span7">         <!-- Goal info, add action/status update, goal contacts -->
                                <div class="row-fluid">
                                    <div class="span7">
                                        <h4>{{ goal_context.goal.notes }}</h4>

                                        <br>
                                        <span class="text-center"><a href="{% url 'gk:goal' goal_context.goal.id %}"
                                                                     class="btn btn-info">View this goal!</a></span>


                                        <br><br>
                                    </div>
                                    <div class="span5">
                                        <h4>Pending Actions:</h4>
                                        <div class="HAscroll">
                                            {% for action in actions %}
                                                {% if action.goal == goal_context.goal %}
                                                    {% if not action.completed %}
                                                        <p>{{ action.name }}
                                                            <small> on {{ action.deadline }}</small>
                                                        </p>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% if goal_context.goal.caregivers %}
                                    {% for c in goal_context.goal.caregivers.all %}
                                        <a href="{% url 'gk:contacts' patient.id %}">{{ c }}</a>&nbsp;
                                    {% endfor %}
                                {% endif %}


                            </div>

                            <div class="clearfix"></div>

                        </div>  <!-- Goal 1 Collapse -->
                    {% endfor %}
                {% else %}
                {% endif %}

            </div>  <!-- Main page Collapse -->
            {% if viewer_role == "parent" or viewer_type == "patient" %}
                <div class="span3 pull-right " id="right-side-bar">     <!-- Right side Menu bar -->

                    <br>
                    <div class="well" id="add_goal_form">       <!-- Add Goal Form -->
                        <h3> Add a Goal</h3>
                        <form role="form" method="post">{% csrf_token %}
                            {{ AddGoalForm.as_p }}
                            <input type="submit" value="Submit" class="btn btn-primary"/>

                        </form>
                    </div>
                </div>    <!-- RSM Collapse -->
            {% endif %}
        </div>

    </div>



    <script>
        function drawPlot(chartid) {
            var margin = {top: 20, right: 20, bottom: 30, left: 50},
                    width = 960 - margin.left - margin.right,
                    height = 300 - margin.top - margin.bottom;

            var parseDate = d3.time.format("%Y-%m-%d").parse; // for dates like "2014-01-01"
            //var parseDate = d3.time.format("%Y-%m-%dT00:00:00Z").parse;  // for dates like "2014-01-01T00:00:00Z"

            var x = d3.time.scale().range([0, width]);
            var y = d3.scale.linear().range([height, 0]);

            var xAxis = d3.svg.axis().scale(x)
                    .orient("bottom").ticks(5);

            var yAxis = d3.svg.axis().scale(y)
                    .orient("left").ticks(5);

            var line = d3.svg.line()
                    .x(function (d) {
                        return x(d.day);
                    })
                    .y(function (d) {
                        return y(d.data_value);
                    });


            d3.json("/goalkeeper/api/goal_over_time/".concat(chartid), function (error, data) {
                data.forEach(function (d) {
                    d.day = parseDate(d.day);
                    d.data_value = +d.data_value;
                });
                if (jQuery.isEmptyObject(data)) {
                    return;
                }

                var svg = d3.select("#chart".concat(chartid)).append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                x.domain(d3.extent(data, function (d) {
                    return d.day;
                }));
                y.domain([0, d3.max(data, function (d) {
                    return d.data_value;
                })]);

                //add the x axis
                svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis);


                // Add the Y Axis
                svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis);

                //add the lines
                svg.append("path")
                        .datum(data)
                        .attr("class", "line")
                        .attr("d", line);
            });
        }

    </script>
    {% if goals_context %}
        {% for goal_context in goals_context %}
            <script>drawPlot({{ goal_context.goal.id }})</script>
        {% endfor %}
    {% endif %}
{% endblock %}
