{% extends 'base_navbar.html' %}
{% block head %}
    {% load staticfiles %}
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
{% endblock %}

{% block content %}
    {# TODO: FIX THIS!#}
    {% if errors or non_field_errors %}
        <div class="alert alert-error pageError">
            {{ errors }}
            {{ non_field_errors }}
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="span8 well">      <!-- Main page -->
                <h3>Pending Actions {{ words }}</h3>
                {% if pending_actions %}
                    {% for action in pending_actions %}
                        <p>

                        <form role="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="actionName" value={{ action.id }}/>
                            <input type="submit" value="Complete" name="Complete" class="btn btn-primary btn-small"/>


                            &nbsp;&nbsp;
                            <span class="bg-info">{{ action.goal }}</span>
                            &nbsp;&nbsp;
                            <span class="bg-warning">{{ action.name }} on {{ action.deadline }}</span>
                            &nbsp;&nbsp;
                            <span class="bg-info">Notes: {{ action.notes }}</span>
                            {% if viewer_role == "parent" or viewer_type == "patient" %}
                                &nbsp;&nbsp;
                                <input type="submit" value="&times; Remove" name="remove"
                                       class="btn btn-danger btn-small"/>
                            {% endif %}
                        </form>
                        </p>

                    {% endfor %}
                {% else %}
                    <h4>You have no pending actions</h4>
                {% endif %}

                <hr>

                <h3>Completed Actions</h3>

                {% if completed_actions %}
                    {% for action in completed_actions %}

                        <p>
                        <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <input type="hidden" name="actionName" value={{ action.id }}/>
                            <span class="bg-success">&nbsp;&check;&nbsp;</span>
                            &nbsp;
                            <span class="bg-info">{{ action.goal }}</span>
                            &nbsp;
                            <span class="bg-success">{{ action.name }} on {{ action.deadline }}</span>
                            &nbsp;&nbsp;
                            <span class="bg-info">Notes: {{ action.notes }}</span>
                            {% if viewer_role == "parent" or viewer_type == "patient" %}
                                &nbsp;&nbsp;
                                <input type="submit" value="&times; Remove" name="remove"
                                       class="btn btn-danger btn-small"/>
                            {% endif %}
                        </form>
                        </p>

                    {% endfor %}
                {% else %}
                    <h4>You have no completed actions</h4>
                {% endif %}

            </div>
            {% if viewer_role == "parent" or viewer_type == "patient" %}
                <div class="span3 pull-right " id="right-side-bar">     <!-- Right side Menu bar -->

                    <!-- Do not display this at the moment
      <img src="{% static 'gk/img/fire.jpg' %}" id="profile-pic" class="img-rounded img-responsive profile-pic">
      <br>

      <div id="recs" class="well">
        <h3>Recommendations:</h3>
        <ul>
          <li><a href="#">Recommendation 1</a></li>
          <li><a href="#">Recommendation 2</a></li>
          <li><a href="#">Recommendation 3</a></li>
          <li><p>Schedule appointment with GI</p></li>
          <li><p>Update Bart's weight</p></li>
        </ul>
      </div>
      -->
                    <div class="well" id="addActionForm">
                        <h3>Add Action</h3>
                        <form role="form" method="post">{% csrf_token %}
                            {{ AddActionForm_ActionPage.as_p }}
                            <input type="submit" value="Submit" name="actionForm" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>


{% endblock %}