{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'gk/css/bootstrap.min.css' %}"  rel="stylesheet" type="text/css">
    <link href="{% static 'gk/css/Right Side Bar.css' %}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoalKeeper</title>
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'gk/js/bootstrap.min.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <script>
      $(function() {
        $( ".datepicker" ).datepicker();
        });
    </script>
    <style>
      body{
        padding-top: 70px
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">      <!-- Top Bar -->
      <div class="navbar-inner">
          <a class="brand" href="#"></a>
          <ul class="nav">
            {%if viewer_type == "caregiver" %}
              <li><a href="{% url 'gk:home' %}">Return Home</a></li>
            {%endif%} 
            <li><a href="{% url 'gk:home' patient.id %}">Goals</a></li>     <!-- Top bar list of links -->
            <li class="active"><a href="{% url 'gk:action' patient.id %}">Actions</a></li>
            <li><a href="{% url 'gk:profile' patient.id %}">Profile</a></li>
            <li><a href="{% url 'gk:contacts' patient.id %}">Contacts</a></li>
          </ul>
        </div>
      </div>
    </div>
    {%if errors or non_field_errors%}
    <div class="alert alert-error pageError">      
        {{errors}}       
        {{non_field_errors}} 
    </div>
    {%endif%}
    <div class="container-fluid">     
      <div class="row-fluid">
        <div class="span8 well">      <!-- Main page -->
          <h3>Pending Actions {{words}}</h3>
          {% if pending_actions %}
            {% for action in pending_actions %}
              <p>

                <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                  <input type="hidden" name="actionName" value={{action.id}} />
                  <input type="submit" value="Complete" name="Complete" class="btn btn-primary btn-small" />
                

                  &nbsp;&nbsp;
                  <span class="bg-info">{{action.goal}}</span>
                  &nbsp;&nbsp;
                  <span class="bg-warning">{{action.name}} on {{action.deadline}}</span>
                  &nbsp;&nbsp;
                  <span class="bg-info">Notes: {{action.notes}}</span>
                  &nbsp;&nbsp;
                  <input type="submit" value="&times; Remove" name="remove" class="btn btn-danger btn-small" />
                </form>
              </p>

            {% endfor %}
          {% else %}
            <h4>You have no pending actions</h4>
          {% endif %}

            <hr>

          <h3>Completed Actions</h3>

          {% if completed_actions %}
            {% for action in completed_actions %}

            <p>
              <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" name="actionName" value={{action.id}} />
                <span class="bg-success">&nbsp;&check;&nbsp;</span>
                &nbsp;
                <span class="bg-info">{{action.goal}}</span>
                &nbsp;
                <span class="bg-success">{{action.name}} on {{action.deadline}}</span>
                &nbsp;&nbsp;
                <span class="bg-info">Notes: {{action.notes}}</span>
                &nbsp;&nbsp;
                <input type="submit" value="&times; Remove" name="remove" class="btn btn-danger btn-small" />
              </form>
            </p>

            {% endfor %}
          {% else %}
            <h4>You have no completed actions</h4>
          {% endif %}

        </div>

        <div class="span3 pull-right " id="right-side-bar">     <!-- Right side Menu bar -->

          <!-- Do not display this at the moment
          <img src="{% static 'gk/img/fire.jpg' %}" id="profile-pic" class="img-rounded img-responsive profile-pic">
          <br>
          
          <div id="recs" class="well">
            <h3>Recommendations:</h3>
            <ul>
              <li><a href="#">Recommendation 1</a></li>
              <li><a href="#">Recommendation 2</a></li>
              <li><a href="#">Recommendation 3</a></li>
              <li><p>Schedule appointment with GI</p></li>
              <li><p>Update Bart's weight</p></li>
            </ul>
          </div>
          -->
          <div class="well" id="addActionForm">
            <h3>Add Action</h3>
            <form role="form" method="post">{% csrf_token %}
              {{ AddActionForm_ActionPage.as_p }}
              <input type="submit" value="Submit" name="actionForm" class="btn btn-primary" />
            </form>
          </div>
        </div>
      </div>

    </div>


      </body>
</html>
