{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'gk/css/bootstrap.min.css' %}"  rel="stylesheet" type="text/css">
    <link href="{% static 'gk/css/Right Side Bar.css' %}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoalKeeper</title>
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'gk/js/bootstrap.min.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <script>
      $(function() {
        $( ".datepicker" ).datepicker();
        });
    </script>
    
    <script src="{% static 'gk/Highcharts-4.0.3/js/highcharts.js' %}"></script>
    
    

    {% load chartit %}
    {{goalChart|load_charts:"goal_chart"}}
    <style>
      body{
        padding-top: 70px
      }
    </style>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">      <!-- Top Bar -->
      <div class="navbar-inner">
          <a class="brand" href="#"></a>

          <ul class="nav">
            <li class="active"><a href="/goalkeeper/{{patient.id}}">Goals</a></li>     <!-- Top bar list of links -->
            <li><a href="/goalkeeper/action/{{patient.id}}">Actions</a></li>
            <li><a href="/goalkeeper/profile/{{patient.id}}">Profile</a></li>
            <li><a href="/goalkeeper/contacts/{{patient.id}}">Contacts</a></li>
          </ul>          
        </div>
      </div>
    </div>
    <div class="container-fluid">     
      <div class="row-fluid">
        <div class="span9 well">      <!-- Main page -->
          <div class="row-fluid">

            <h2>{{goal.name}}</h2>        <!-- Goal name and Graph -->
            <div id="goal_chart"></div>
          
          </div>

          <div class="clearfix"></div>

          <div class="row-fluid">
            <div class="span5" id="StatusUpdates">
              <h3>Recent Status Updates</h3>
              <div id="recent_updates" class="GSscroll">
                <div>
                  {% if recent_status_updates %}
                    {% for status_update in recent_status_updates %}

                      <div id="status udpdate" class="bg-info">
                        {% if goal.data_type == 1 %}
                         <p >Value: {{status_update.data_value}}<br>Notes: {{status_update.status}}<br><small>Posted on {{status_update.pub_time}}</small></p>

                        {% elif goal.data_type == 0 %}
                          {% for key, value in qualDict.items %}
                            {% if key == status_update.data_value %}
                              <p >Value: {{value}}<br>Notes: {{status_update.status}}<br><small>Posted on {{status_update.pub_time}}</small></p>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    <br>

                    {% endfor %}
                  {% else %}
                    There are no status updates available for this goal.
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="span7" id="Actions">
              <h3>Pending Actions</h3>
                <div id="pendingscroll" class="GAscroll">

                  {% if pending_actions %}
                    {% for action in pending_actions %}
                    <p>

                      <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <input type="hidden" name="actionName" value={{action.id}} />
                        <input type="submit" value="Complete" name="Complete" class="btn btn-primary btn-small" />
                      

                        
                        &nbsp;&nbsp;
                        <span class="bg-warning">{{action.name}} on {{action.deadline}}</span>
                        &nbsp;&nbsp;
                        <input type="submit" value="&times; Remove" name="remove" class="btn btn-danger btn-small" />
                      </form>
                    </p>

                    {% endfor %}
                  {% else %}
                    <p> There are no pending actions for this goal. </p>
                  {% endif %}
                </div>

              <hr>

              <h3>Completed Actions</h3>
                <div class="GAscroll">
                  {% if completed_actions %}
                  {% for action in completed_actions %}

                  <p>
                    <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                      <input type="hidden" name="actionName" value={{action.id}} />
                      <span class="bg-success">&nbsp;&check;&nbsp;</span>
                      &nbsp;
                      <span class="bg-success">{{action.name}} on {{action.deadline}}</span>
                      &nbsp;&nbsp;
                      <input type="submit" value="&times; Remove" name="remove" class="btn btn-danger btn-small" />
                    </form>
                  </p>
                  {% endfor %}
                  {% else %}
                  <p> There are no completed actions for this goal. </p>
                  {% endif %}
                </div>
            </div>            
          </div>

          <div class="row-fluid" id="AddForms">
            <div class="span4" id="StatusUpdateForm">
              <h3>Add Status Update</h3>

              {% if goal.data_type == 1 %}

              <form role="form" method="post" class="well">{% csrf_token %}
                {{ AddQuantStatusForm.as_p }}
                <input type="hidden" name="statQuant" />
                <input type="submit" value="Submit" class="btn btn-primary" />
                
              </form>

              {% elif goal.data_type == 0 %}

              <form role="form" method="post" class="well">{% csrf_token %}
                {{ AddQualStatusForm.as_p }}
                <input type="hidden" name="statQual" />
                <input type="submit" value="Submit" class="btn btn-primary" />
                
              </form>

              {% endif %}
            </div>

            <div class="offset1 span4" id="ActionForm">
              <h3>Add Action</h3>

                    <form role="form" method="post" class="well">{% csrf_token %}
                      {{ AddActionForm_GoalPage.as_p }}
                      <input type="hidden" name="act" />
                      <input type="submit" value="Submit" class="btn btn-primary" />
                    </form>
            </div>
          </div>
        </div>
        <div class="span3 pull-right " id="right-side-bar">     <!-- Right side Menu bar -->
          <!-- Do not display this at the moment
          <img src="{% static 'gk/img/fire.jpg' %}" id="profile-pic" class="img-rounded img-responsive profile-pic">
          <br>
          
          <div id="recs" class="well">
            <h3>Recommendations:</h3>
            <ul>
              <li><a href="#">Recommendation 1</a></li>
              <li><a href="#">Recommendation 2</a></li>
              <li><a href="#">Recommendation 3</a></li>
              <li><p>Schedule appointment with GI</p></li>
              <li><p>Update Bart's weight</p></li>
            </ul>
          </div>
          -->
          <div class="well" id="contacts">
            <h3>Care Givers for this Goal</h3>
            <ul>
              {% if caregivers %}
              {% for caregiver in caregivers %}
              <li><a href="/goalkeeper/contacts">{{caregiver.name}}</a></li>
              {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    


  </body>
</html>