{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'gk/css/bootstrap.min.css' %}"  rel="stylesheet" type="text/css">
    <link href="{% static 'gk/css/Right Side Bar.css' %}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoalKeeper</title>
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      body{
        padding-top: 70px
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">      <!-- Top Bar -->
      <div class="navbar-inner">
          <a class="brand" href="#"></a>
          <ul class="nav navbar-left">
            <li class="active"><a href="/goalkeeper/">Goals</a></li>     <!-- Top bar list of links -->
            <li><a href="/goalkeeper/action">Actions</a></li>
            <li><a href="/goalkeeper/profile">Profile</a></li>
            <li><a href="/goalkeeper/contacts">Contacts</a></li>
          </ul>
          <ul class="nav navbar-right">
            <li><p class="navbar-text navbar-right" style="color:#ffffff">Logan Martin &nbsp;&nbsp;&nbsp;</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">     
      <div class="row-fluid">
        <div class="span8">      <!-- Main page -->

          {% if latest_goals %}
          {% for goal in latest_goals %}
          <div id="{{goal.name}}" class="well">

            <h2><a href="/goalkeeper/goal/{{goal.name}}">{{goal.name}}</a></h2>     <!-- Goal 1 -->

            <div class="span3">         <!-- Goal graph -->
              <img src="{% static 'gk/img/sample_graph_A.gif' %}" class="img-rounded img-responsive" href="#" style="max-width:100%;">      
            </div>

            <div class="span8">         <!-- Goal info, add action/status update, goal contacts -->
              <h4>{{goal.notes}}</h4>

              <a href="/goalkeeper/goal/{{goal.name}}" class="btn btn-info">You have pending actions for this goal!</a>

              <br><br>

              <a href="#" class="btn btn-default"><i class="icon icon-plus"></i>Add Action </a>    
              &nbsp;or &nbsp;    
              <a href="#" class="btn btn-default"><i class="icon icon-plus"></i>Add Status Update</a>

              <br><br>
              {% if goal.caregiver %}
                <a href="#">{{goal.caregiver}}</a>&nbsp;
              {% endif %}

            </div>

            <div class="clearfix"></div> 

          </div>  <!-- Goal 1 Collapse -->
          {% endfor %}
          {% else %}
            <h2>No goals are available at this time. Add a goal using the "Add Goal" form below to add a new goal</h2>
          {% endif %}

        </div>  <!-- Main page Collapse -->
        <div class="span3 pull-right " id="right-side-bar">     <!-- Right side Menu bar -->
          <img src="{% static 'gk/img/fire.jpg' %}" id="profile-pic" class="img-rounded img-responsive">   <!-- Profile picture -->
          <br>
          <div id="recs" class="well">
            <h3>Recommendations:</h3>
            <ul>
              <li><a href="#" class="recs">Recommendation 1</a></li>
              <li><a href="#" class="recs">Recommendation 2</a></li>
              <li><a href="#" class="recs">Recommendation 3</a></li>
            </ul>
          </div>
          <br>
          <div class="well" id="add_goal_form">       <!-- Add Goal Form -->
            <h3> Add a Goal</h3>
            <form role="form" method="post">{% csrf_token %}
              {{ AddGoalForm.as_p }}
              <input type="submit" value="Submit" class="btn btn-default" />
            <!--  <div class="form-group" id="Goal_name">
                <label for="Goal_name"> Goal name:</label>
                <input type="text" class="form-control" id="Goal_name" placeholder="Enter Goal Name">
              </div>
              <div class="radio" id="Goal_type">
                Goal Type:
                <label class="radio">
                  <input type="radio" name="Goal_type" id="qualitative">Qualitative   
                </label> 
                <label class="radio">
                  <input type="radio" name="Goal_type" id="quantitative">Quantitative
                </label>
              <div class="form-group" id="Goal_description">
                <label for="Goal_description">Description:</label>
                <textarea class="form-control" rows="2" id="Goal_description" placeholder="Enter a description for this goal"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button> -->
            </form>
          </div>
        </div>    <!-- RSM Collapse -->
      </div>    

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'gk/js/bootstrap.min.js' %}"></script>
  </body>
</html>