{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'gk/css/bootstrap.min.css' %}"  rel="stylesheet" type="text/css">
    <link href="{% static 'gk/css/Right Side Bar.css' %}" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoalKeeper</title>
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'gk/js/bootstrap.min.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
        

    <style>
      body{
        padding-top: 70px
      }

    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">      <!-- Top Bar -->
      <div class="navbar-inner">
          <a class="brand" href="#"></a>
          <ul class="nav navbar-left">
            <li class="active"><a href="#">Goalkeeper</a></li>     <!-- Top bar list of links -->            
          </ul>
          <ul class="nav pull-right">
            <li><p class="navbar-text navbar-right" style="color:#ffffff">{{viewer_name}}</p></li>
            <li><a href="/goalkeeper/logout/"><p>Log out</p></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">  
      {%if message%}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{message}}
      </div>
      {%endif%}    


        <div class="row">            
            <div style="text-align:center">
                <h1 style="text-align:center">Login</h1>


                <form action="/goalkeeper/login/" method="POST" style="margin-left:auto; margin-right: auto;" >
                    {% csrf_token %}
                    <div class="form-group" style="text-align:center">
                        <input type="text" class="form-control input-lg" placeholder="Username" id = "email" name="email"/>
                    </div>
                    <div class="form-group" style="text-align:center">
                        <input type="password" class="form-control input-lg" placeholder="Password" id = "password" name="password"/>
                    </div>                   
		<div class = "form-group" style="text-align:center">
			<input type = "text" class="form-control input-lg" placeholder="Time Zone" id = "timezone" name = "timezone/>
		</div> 
                    <div class="login-buttons" style="text-align:center">
                        <button type="submit" class="btn btn-success btn-lg">Log in</button>
                    </div>    
                </form>

                <a href="/admin/password_reset">Forgotten your password or username?</a>
            </div>
        </div>

          

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'gk/js/bootstrap.min.js' %}"></script>
  </body>
</html>

